html {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #404040;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    background-color: white;
}

body {
    background-image: linear-gradient(315deg, #404040 0%, #121212 74%);}


.NavBar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3vw;
}


.NavBar >  div > img:hover {
    cursor: pointer;
}

.contactButton{
    font-size: 16px;
    background: none;
    /* border-radius: 2rem; */
    /* width: 100px; */
    /* height: 50px; */
    font-family: "Sohne Breit";
    color: white;
    border: none;
    right: 5vw;
    position: absolute;
}

.contactButton:hover {
    opacity: .8;
    cursor: pointer;
    background-image: radial-gradient(rgba(0, 200, 255, .5), #272932);
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 2px 10px 0px rgb(79, 100, 236);
}


.cartButton {
    position: absolute;
    right: 17vw;
}

.secondaryButton {
    z-index: 100;
    font-size: 25px;
    position: absolute;
    left: 55vw;
    top: 30vw;
    background-color: rgba(24, 24, 24, .5);
    border: 1px solid white;
    border-radius: 1rem;
    margin-top: 2%;
    color: white;
    font-family: Sohne Breit;
    padding: 1vw;
    transition: all .2s ease-in-out;
}

.secondaryButton:hover{
    cursor: pointer;
    box-shadow: 0px 2px 10px 0px rgb(79, 100, 236);
    top: 29vw;
}

a {
    color: white;
    font-family: Sohne Breit;
    padding: 2vw;
}

a:hover {
    /* color: #959595; */
    cursor: pointer;
}

/* 
LANDING PAGE */

.landingPageText {
    /* width: 30vw; */
    position: absolute;
    /* z-index: 100; */
    /* left: 30vw; */
    top: 4vw;
   
}

.landingPageText > p {
    color: white;
    margin: 0%;
    font-size: 17vw;
}
.xenotech{
    /* z-index: 100; */
    /* min-height: 300px;/ */
    /* background-color: red; */
   
}

.digitalDrip{
display: flex;
font-size: 30px;
position: absolute;
top: 16vw;
left: 16vw;


}

.digitalDrip > i {
padding: .5vw;
}

.featuredDrops {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        color: white;
}

.FeaturedDropsCard{
    border: 1px solid white;
    margin: 2vw;
    border-radius: 1.5rem;
    transition: all .2s ease-in-out;
}

.FeaturedDropsCard:hover{
    background-image: radial-gradient(rgba(0, 200, 255, .5), #272932);
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 2px 10px 0px rgb(79, 100, 236);

}

.FeaturedDropsTitle{
    font-size: 16px;

}

.FeaturedDropsSubText > div{
    display: flex;
    justify-content: center;
}

.FeaturedDropsSubText > div > h1 {
    font-size: 17px;
}

.FeaturedDropsVideoImage{
    width: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

/* 
SHOE CUSTOMIZER */

.colorPicker{
    position: absolute;
    right: 8vw;
    top: 25vw;
    color: white;
    border-radius: 1.4rem;
    border: .2px dashed grey ;
    z-index: 100;
    padding: 1%;
    transition: all .5s ease-in-out;
}

.colorPicker:hover{
    background-image: radial-gradient(rgba(0, 200, 255, .1), #272932);
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 2px 10px 0px rgb(79, 100, 236);
}

.colorPickerLabel{
    display: flex;
    font-size: 9px;
}

.color{
    display: flex;
    align-items: center;
}

.color > input{
    margin: calc(.025rem + .2vw) 2vw 0 2vw;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    font-size: calc(.025rem + 1.9vw);
}

.color > input::-webkit-color-swatch {
    border-radius: 50%;
}

.color > input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color > input:hover{
    cursor: pointer;
}

.canvas3D{
    height: 44vw;
    margin-left: 30%;
}





@media only screen and (max-width: 1000px) {
    .featuredDrops {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr  ;
        padding-left: 8vw;
        padding-right: 9vw;
        margin: 0%;
        color: white;
    }
    .FeaturedDropsVideoImage{
        width: 100%;
    }
}